
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counter{
  margin-right: 30px;
  font-size:10px; 
  text-align: center;
}
strong{
  display: block;
  font-size:2em;
}
.votes, .answer{
  width:60px;
  height:60px;
  
}
.status{
  &.unanswered {
    border:1px solid black;
  }     // class="status unanswered
  &.answered{
    border: 1px solid $color-green;
    color: $color-green;
  }
  &.answered-accepted{
    background: $color-green;
    color: $color-white;
  }
  
}
.view {
    margin-top: 10px;
  }
  .form-delete{
    display: inline;
    
  }

.vote-controls{
  min-width: 60px;
  margin-right: 30px;
  text-align: center;
  color: $gray-700;
  span{
    &.votes_count{
      font-size: 25px;
    }
    &.favourites-count{
      font-size: 12px;
    }
  }
  a{
      cursor:point;
      color: $gray-600;

      &.off,&.off:hover{
        color:$gray-500;
      }
     
      &.favourite{
        &.favourited,&.favourited:hover{
          color: $warning;
        }
      }
      &.vote-accepted{
        color:$green;
      }
  }
  
}
.answer-container, .question-container {
  padding: 20px 0;
  &:not(:last-child) {
    border-bottom: 1px solid rgba($black, .1);
  }
}